/* font */
@font-face {
	font-family: "Lato";
	src: url("../res/font/lato.ttf");
}

/* stili generali */
html {
	width: 100%;
}

body {
	margin: 0;
	/* font-family: sans-serif; */
	font-family: "Lato";
	width: 100%;
	background-color: #181818;
}

h1 {
	font-size: 2.6em;
}

/* mappa provvisoria nella home */
#map1 {
	float: right;
	max-width: 30%;
}

/* effetto parallax */
.parImgs {
	position: relative;
	height: 50%;
	opacity: 80%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parText {
	position: relative;
	height: 45%;
	background: #111;
	color: white;
}

#parImg1 { background-image: url("../foto/parco1.jpg"); }

/* mappa interattiva */
#mappaInt {
	background-color: #181818;
	color: white;
}

#intMapImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* pagina dei progetti */
#projCont {
	background-color: #181818;
	min-height: 97%;
}

#projects {
	display: grid;
	grid-column-gap: 2%;
	grid-row-gap: 6%;
	grid-template-columns: 47% 47%;
	width: 100%;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 10%;
}

.gridEls {
	border-radius: 1em;
	background-color: #181818;
	color: #eee;
	min-height: 50vh;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gridEls:hover {
	background-color: #040404;
	background-image: none !important;
	transition-duration: 0.8s;
}

.gridEls:not(:hover) .internalGrid {
	display: none;
}

.gridEls:not(:hover) {
	transition-duration: 0.1s;
}

.internalGrid {
	width: 96%;
	height: 96%;
	margin-left: 2%;
	margin-top: 2%;
	text-align: center;
}

.gridContent {
	font-size: 1.4em;
	margin-top: 10vh;
}

#riqual {
	grid-column: 1 / 2;
	grid-row: 1;
	background-image: url("../foto/birdwatching.png");
}

#bracci {
	grid-column: 2 / 3;
	grid-row: 1;
	background-image: url("../foto/barriera.png");
}

#sitoP {
	grid-column: 1 / 3;
	grid-row: 2;
	background-image: url("../foto/parco1mod.png");
}

#projTitle {
	text-align: center;
	color: white;
	margin: 0;
	padding-top: 2%;
}

/* bottom section */
#bottom {
	text-align: center;
	background-color: #181818;
	padding-bottom: 3%;
}

#bottom > a {
	color: lightblue;
	text-decoration: underline;
}

/* home */
#homeCont {
	padding-left: 2%;
	background-color: #181818;
	color: white;
}

#homeCont > h1 {
	margin-top: 2vh;
}

#homeCont > ul > li > a {
	color: lightblue;
}