/* font */
@font-face {
	font-family: "Lato";
	src: url("../res/font/lato.ttf");
}

/* stili generali */
html {
	width: 100%;
}

body {
	margin: 0;
	/* font-family: sans-serif; */
	font-family: "Lato";
	width: 100%;
	background-color: #181818;
}

h1 {
	font-size: 3em;
}

p, li {
	font-size: 1.3em;
}

/* mappa provvisoria nella home */
#map1 {
	float: right;
	max-width: 30%;
}

/* effetto parallax */
.parImgs {
	position: relative;
	height: 50%;
	opacity: 80%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parText {
	position: relative;
	height: 45%;
	background: #111;
	color: white;
}

#parImg1 { background-image: url("../foto/parco1.jpg"); }

/* mappa interattiva */
#mappaInt {
	background-color: #181818;
	color: white;
}

#intMapImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* pagina dei progetti */
#projCont {
	background-color: #181818;
}

#projects {
	display: grid;
	grid-column-gap: 3%;
	grid-row-gap: 7%;
	grid-template-columns: 46% 46%;
	width: 96%;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 2%;
}

.gridEls {
	border-radius: 1em;
	background-color: #181818;
	color: #eee;
	min-height: 40vh;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gridEls:hover {
	background-color: #040404;
	background-image: none !important;
	transition-duration: 0.8s;
}

.gridEls:not(:hover) .internalGrid {
	display: none;
}

.gridEls:not(:hover) {
	transition-duration: 0.1s;
}

.internalGrid {
	width: 96%;
	height: 96%;
	margin-left: 2%;
	margin-top: 2%;
	text-align: center;
}

.gridContent {
	font-size: 1.4em;
	margin-top: 10vh;
}

#riqual {
	grid-column: 1 / 2;
	grid-row: 1;
	background-image: url("../foto/birdwatching.png");
}

#bracci {
	grid-column: 2 / 3;
	grid-row: 1;
	background-image: url("../foto/barriera.png");
}

#sitoP {
	grid-column: 1 / 3;
	grid-row: 2;
	background-image: url("../foto/parco1mod.png");
}

#projTitle {
	text-align: center;
	color: white;
	margin: 0;
	padding-top: 2%;
}

/* bottom section */
#bottom {
	text-align: center;
	background-color: #181818;
	padding-bottom: 3%;
	margin-top: 3%;
}

#bottom > a {
	color: lightblue;
	text-decoration: underline;
}

/* home */
#homeCont {
	padding-left: 2%;
	background-color: #181818;
	color: white;
}

#homeCont > h1 {
	margin-top: 2vh;
}

#homeCont > ul > li > a {
	color: lightblue;
}

/* map bottom */
#mapBottom {
	width: 96%;
	margin-left: 2%;
	text-align: center;
}

/* stile luoghi */
#placeContent {
	color: white;
	width: 80%;
	margin-left: 10%;
	text-align: center;
}

#placePic {
	max-height: 44vh;
	max-width: 70%;
}

#placeDesc {
	text-align: left;
}

/* -- mobile -- */
#mobile {
	min-width: 100vw;
	min-height: 100vh;
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	/* animation */
	transition-duration: 1.5s;
}

.mobProj > p {
	font-size: 2.8vh;
	margin: 0.5em;
}

.scroll0 { background-color: rgb( 30, 220, 80 ) !important;}
.scroll1 { background-color: rgb( 255, 240, 110 ) !important;}
.scroll2 { background-color: rgb( 200, 80, 170 ) !important;}
.scroll3 { background-color: rgb( 255, 170, 70 ) !important; }
.scroll4 { background-color: rgb( 40, 180, 250 ) !important;}
.scrollL { background-color: rgb( 20, 20, 20 ) !important;}

.mobProj {
	color: white;
	width: 70vw;
	margin-left: 25vw;
	margin-right: 5vw;
	height: 16vh;
	background-color: rgba( 70, 70, 70, 0.6 );
	border: solid 0.4vw rgb( 20, 20, 20 );
	border-radius: 2vw;
}
#mobProj1 { margin-top: 10vh;}
#mobProj2 { margin-top: 84vh;}
#mobProj3 { margin-top: 84vh;}
#mobProj4 { margin-top: 84vh;}

#mobHeader {
	height: 80vh;
	margin-top: 10vh;
	margin-bottom: 0;
	border-bottom-color: rgb( 20, 20, 20 );
	border-bottom: solid 0.4vw;
	width: 80vw;
	margin-left: 10vw;
	text-align: center;
}

#mobFooter {
	margin-top: 80vh;
}

#mobFmaglie {
	position: absolute;
	left: 1vw;
	top: 330vh;
	width: 80vw;
}

#mobFbozz {
	position: absolute;
	left: 3vw;
	top: 135vh;
	max-height: 70vh;
	max-width: 96vw;
}